{
    "env": {
       "node": true
    },
    // To give you an idea how to override rule options:
    "rules": {
        "strict": 1,
        "semi": 1,
        "camelcase": 1,
        "no-use-before-define": [2, "nofunc"],
        "comma-spacing": 1,
        "no-multi-spaces": 1,
        "curly": 1,
        "quotes": [
            1,
            "single"
        ],
        "eol-last": [0],
        "no-mixed-requires": [1],
        "no-underscore-dangle": [0],
        "no-unused-vars": 1,
        "new-cap": 0,
        "no-shadow": 1,
        "no-process-exit": 1,
        "no-trailing-spaces": 1
    },
    "globals": {
        "it": true,
        "__dirname": true,
        "require": true,
        "describe": true,
        "beforeEach": true
    }
}
